    /*  구글 폰트
    font-family: 'Hahmlet', serif;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Nanum Gothic', sans-serif; 
    */
    @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

    /*헤더*/
    .yh_header__menu {
        padding: 12px 0;
    }
    
    .yh_header__menu ul li {
        color:white;
        list-style: none;
        display: inline-block;
        margin-right: 50px;
        position: relative;
    }

    .yh_header__menu ul li .yh_header__menu__dropdown {
        position: absolute;
        left: 0;
        /* top: 50px; */
        background: #222222;
        width: max-content;
        /* z-index: 9; */
        padding: 5px 0 ;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    .yh_header__menu ul li .yh_header__menu__dropdown li {
        margin-right: 0;
        display: block;
    }

    .yh_header__menu ul li .yh_header__menu__dropdown li:hover>a {
        color: #24E082;
    }

    .yh_header__menu ul li .yh_header__menu__dropdown li a {
        text-transform: capitalize;
        color: #ffffff;
        font-weight: 400;
        padding: 5px 15px;
    }

    .yh_header__menu ul li.active a {
        color: #24E082;
    }

    .yh_header__menu ul li:hover .yh_header__menu__dropdown {
        top: 30px;
        opacity: 1;
        visibility: visible;
    }

    .yh_header__menu ul li:hover>a {
        color: #FD9F28;
    }

    .yh_header__menu ul li:last-child {
        margin-right: 0;
    }

    .yh_header__menu ul li a {
        font-size: 14px;
        color: #252525;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
        padding: 5px 0;
        display: block;
    }
    
    .bn_nav1{
        background-color: #24E082;
    } /*헤더끝======================================================*/

    /* 검색창 */
    #bn_navbar-search-input{
        border:0;
        background-color: rgb(242, 242, 242);
        border-radius: 0px 20px 20px 0px ;
    }

    .bn_navbar-select-input{
        border:0;
        background-color: rgb(242, 242, 242);
        cursor : pointer;
        border-radius: 20px 0px 0px 20px;
        padding-left: 10px;
        
    }

    .bn_navbar-select-input option:checked,
    .bn_navbar-select-input option:hover {
        color:FD9F28;
    }

    .bn_btn_search{
        background-color : transparent;
        border : none;
        cursor : pointer;
        position : absolute;
        right : 5px;
        top : 50%;
        transform : translatey(-50%);
    }/* 검색창 끝=============================================== */

    /*목차*/
    .bn_index ul li{
        list-style: none;
        position: relative;
        display: inline-block;
    }
    
    .bn_index a {
        color: black;
        
    }
    
    .bn_index li:last-child a{
        font-weight: 800;
        color : #FD9F28;
    }

    /*일반 게시글 목록*/
    .bn_boardlist{
        border: 1px solid #DBE2EA;
        height: 100%; 
        overflow: hidden;
        font-size:small;
        text-align: center;
    }

    .bn_board_check{
        color:#24E082;
    }

    .table th, .table td{
        border: 0px;
        padding:1rem;
    }

    .table tr{
        border:0;
    }
    .bn_boardlist th:nth-child(3), .bn_boardlist td:nth-child(3) {
        text-align: start;
    }/*게시글목록끝===========================*/

    /*상세검색*/
    .bn_detail-search{
        border:0.1rem solid #8496AE;
        padding: 0.2rem;
        border-radius: 20px;
        color: #8496AE;
        cursor : pointer;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-right: 1rem;
    }

    #bn_detail-search-point{
        border: 0.1rem solid #8496AE;
        padding: 0.2rem;
        border-radius: 20px;
        color: #8496AE;
        cursor : pointer;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        margin-right: 1rem;
        text-align: center;
    }

    #bn_detail-search-point:hover{
        border: 0.2rem solid #24E082;
    }

    .bn_btn_search2{
        background-color: #24E082;
        color:white;
        border-radius: 20px;
        margin-right: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }/*상세검색 끝==================*/
    

/*전문가 찾기=====================================================*/
    .bn_pro-box{
        background-color: white;
        border: 0px;
        border-radius: 2rem;
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%); 
        padding: 1.5rem;
        font-size: small;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    .bn_pro-name{
        font-weight: 700;
        font-family: 'IBM Plex Sans KR', sans-serif;
        margin-bottom: 1rem;
    }

    .bn_pro-profile{
        vertical-align:middle;
        width: 7rem;
        height: 7rem;
        border-radius: 20rem;
    }

    .bn_pro-icon{
        width: 3rem;
        height:3rem;
        font-size:2rem;
        border-radius: 1rem;
        background-color: #24E082;
        color:white;
        text-align: center;
        align-items: center;
        margin-bottom: 1rem;
        /* align-items: center/; */
    }
    
    .bn_pro-btn{
        display: inline-block;
        height:3rem;
        border-radius: 1rem;
        background-color: #24E082;
        color:white;
        text-align: center;
        margin-bottom: 1rem;
        /* padding-left: 3rem;
        padding-right: 3rem; */
    } /*전문가 찾기 끝============*/

    .bn_pro-infobox-bottom{
        background-color: white;
        border: 3px solid #24E082;
        padding:1.5rem;
        padding-left: 2.5rem;
        border-radius: 0 0 3rem 3rem;
    }

    .bn_pro-infobox-bottom ul li{
        font-family:'IBM Plex Sans KR', sans-serif;
        list-style: disc;
        line-height: 2rem;
    }

    .bn_pro-infobox-top{
        background-color: white;
        border: 3px solid;
        padding:1.25rem;
        border-radius: 3rem 3rem 0px 0px;
    }



    /*게시글 작성====--*/
    .bn_txt_strong{
        font-family: 'IBM Plex Sans KR', sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 0;
        color: var(--color-default);
    }

    .filebox .upload-name {
        display: inline-block;
        height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        border: 1px solid transparent;
        width: 78%;
        color: #999999;
    }

    .filebox label {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        vertical-align: middle;
        background-color: #999999;
        cursor: pointer;
        /* height: 78%; */
        margin-left: 10px;
    }

    .filebox input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }

    #modalPillChoice{
        position: fixed;
        top:50%;
        left:40%;
        transform: translate(-25%, -50%);
        width:70rem;
        height:30rem;
    }

    /*게시글 상세보기*/

    .bn_board-meta{
        align-items: ;
        font-size: 1.5rem;
        font-weight: 900;
    }

    .bn_card-top{
        background-color: white;
        padding: 2rem;
        border-radius: 15px 15px 0px 0px;
        border: 0.3rem solid rgb(0 0 0 / 10%);
        /* box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);  */
    }

    .bn_card-bottom{
        background-color: rgb(0 0 0 / 1%);
        padding: 2rem;
        border-radius: 0px 0px 15px 15px;
        border: 0.3rem solid white;
        /* box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 10%);  */
    }

    .bn_content{
        padding:2rem;
        font-size: 1rem;
    }

    .bn_txt_big h1,.bn_txt_big h2,.bn_txt_big h3{
        color:#24E082;
        font-weight: 900;
        font-family: 'IBM Plex Sans KR', sans-serif;
    }

    /*채팅방===============================================*/
    .chat_lastmsg{
        width:200px; text-overflow: ellipsis; overflow:hidden; white-space:nowrap;
    }

    .chat_wrap {
        padding: 40px 0;
        background-color: #ffffff;
    }
    
    .chat_wrap .chat {
        display: flex;
        align-items: flex-start;
        padding: 15px;
    }
    
    .chat_wrap .chat .icon {
        position: relative;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #eee;
    }
    
    .chat_wrap .chat .icon i {
        position: absolute;
        top: 10px;
        left: 50%;
        font-size: 2.5rem;
        color: #aaa;
        transform: translateX(-50%);
    }
    
    .chat_wrap .chat .textbox {
        position: relative;
        display: inline-block;
        max-width: calc(80% - 70px);
        padding: 10px;
        margin-top: 7px;
        font-size: 13px;
        border-radius: 10px;
    }
    
    .chat_wrap .chat .textbox::before {
        position: absolute;
        display: block;
        top: 0;
        font-size: 1rem;
    }
    
    .chat_wrap .ch1 .textbox {
        margin-left: 20px;
        border: 0.15rem solid #24E082;
        background-color: rgb(255, 255, 255);
    }

    .chat_wrap .ch1mng .textbox {
        margin-left: 20px;
        background-color: #24E082;
    }

    .chat_wrap .ch1mng .icon {
        position: relative;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #24E082;
    }
    
    .chat_wrap .ch1mng .icon img {
        position: absolute; 
        top: 10px;
        left: 50%;
        font-size: 2.5rem;
        color: rgb(255, 255, 255);
        transform: translateX(-50%);
    }
    
    .textbox .bn_txt_strong{
        font-size: 1rem;
    }

    /* .chat_wrap .ch1 .textbox::before {
        left: -15px;
        content: "◀";
        color: #ddd;
    } */
    
    .chat_wrap .ch2 {
        flex-direction: row-reverse;
    }
    
    .chat_wrap .ch2 .textbox {
        margin-right: 20px;
        background-color: #e6e6e6;
    }
    
    /* .chat_wrap .ch2 .textbox::before {
        right: -15px;
        content: "▶";
        color: #F9EB54;
    } */

    .sendtime{
        font-size: 11px;
        position:absolute;
        right: -75px; 
        bottom:5px; 
        width:70px;
    }
    
    .ch2 .textbox .sendtime{
        font-size: 11px;
        position:absolute;
        left: -50px; 
        bottom:5px; 
        width:70px;
    }

    #bn_chat-input{    /* 채팅인풋 */
        border: 0.2rem solid #24E082;
        border-radius: 15px;
        height: 3rem;
    }

    .bn_chat-inputbtn{
        background-color : transparent;
        border : none;
        cursor : pointer;
        position : absolute;
        right : 5px;
        top : 50%;
        transform : translatey(-50%);
    }
    
    .bn_chat-inputbtn:hover{
        color:#FD9F28;
    }

    .chatpopup .active{
        background-color: #8496AE;
    }
    /* 채팅방 끝=============================================== */
